In [1]:
import pandas as pd

In [2]:
weekend_box = pd.read_html('http://www.boxofficemojo.com/alltime/weekends/')[0]

In [3]:
weekend_box

,0,1,2,3,4,5,6,7,8,9,...,2032,2033,2034,2035,2036,2037,2038,2039,2040,2041
0,> ALL TIME BOX OFFICE Adjuster: Actuals Est...,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,...,The Great Gatsby (2013),WB,"$50,085,185",34.6%,3535.0,"$14,168","$144,840,419",5/10/2013,googletag.cmd.push(function() { googletag.def...,NaN
1,> ALL TIME BOX OFFICE,Adjuster: Actuals Est. Tckts for(i=2018; i>...,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Adjuster: Actuals Est. Tckts for(i=2018; i>...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,OPENING WEEKENDS $50+ M $40-50m $30-40m $25-30...,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,...,"$14,168","$144,840,419",5/10/2013,googletag.cmd.push(function() { googletag.def...,NaN,NaN,NaN,NaN,NaN,NaN
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1,Avengers: Infinity War,BV,"$257,698,183",38.5%,4474,"$57,599","$669,568,677",4/27/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,2,Star Wars: The Force Awakens,BV,"$247,966,675",26.5%,4134,"$59,982","$936,662,225",12/18/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,3,Star Wars: The Last Jedi,BV,"$220,009,584",35.5%,4232,"$51,987","$620,181,382",12/15/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,4,Jurassic World,Uni.,"$208,806,270",32.0%,4274,"$48,855","$652,270,625",6/12/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,5,Marvel's The Avengers,BV,"$207,438,708",33.3%,4349,"$47,698","$623,357,910",5/4/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,6,Black Panther,BV,"$202,003,951",28.9%,4020,"$50,250","$699,747,193",2/16/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,7,Avengers: Age of Ultron,BV,"$191,271,109",41.7%,4276,"$44,731","$459,005,868",5/1/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,8,Incredibles 2,BV,"$182,687,905",52.2%,4410,"$41,426","$349,794,341",6/15/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,9,Captain America: Civil War,BV,"$179,139,142",43.9%,4226,"$42,390","$408,084,349",5/6/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,10,Beauty and the Beast (2017),BV,"$174,750,616",34.7%,4210,"$41,508","$504,014,165",3/17/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,11,Iron Man 3,BV,"$174,144,585",42.6%,4253,"$40,946","$409,013,994",5/3/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,12,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",44.4%,4375,"$38,672","$381,011,219",7/15/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,13,Batman v Superman: Dawn of Justice,WB,"$166,007,347",50.3%,4242,"$39,134","$330,360,194",3/25/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,14,The Dark Knight Rises,WB,"$160,887,295",35.9%,4404,"$36,532","$448,139,099",7/20/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,15,The Dark Knight,WB,"$158,411,483",29.7%,4366,"$36,283","$533,345,358",7/18/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,16,The Hunger Games: Catching Fire,LGF,"$158,074,286",37.2%,4163,"$37,971","$424,668,047",11/22/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,17,Rogue One: A Star Wars Story,BV,"$155,081,681",29.1%,4157,"$37,306","$532,177,324",12/16/2016,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,18,The Hunger Games,LGF,"$152,535,747",37.4%,4137,"$36,871","$408,010,692",3/23/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
24,19,Spider-Man 3,Sony,"$151,116,516",44.9%,4252,"$35,540","$336,530,303",5/4/2007,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25,20,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",100.0%,4475,"$33,078","$148,024,610",6/22/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
26,21,Furious 7,Uni.,"$147,187,040",41.7%,4004,"$36,760","$353,007,020",4/3/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
27,22,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",37.6%,4347,"$33,704","$389,813,101",5/5/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28,23,The Twilight Saga: New Moon,Sum.,"$142,839,137",48.2%,4024,"$35,497","$296,623,634",11/20/2009,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
29,24,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",48.3%,4070,"$34,660","$292,324,737",11/16/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,197,Cars 3,BV,"$53,688,680",35.1%,4256,"$12,615","$152,901,115",6/16/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
203,198,Green Lantern,WB,"$53,174,303",45.6%,3816,"$13,935","$116,601,172",6/17/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
204,199,The Wolverine,Fox,"$53,113,752",40.1%,3924,"$13,536","$132,556,852",7/26/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
205,200,The LEGO Batman Movie,WB,"$53,003,468",30.2%,4088,"$12,966","$175,750,384",2/10/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
206,201,Batman Forever,WB,"$52,784,433",28.7%,2842,"$18,572","$184,031,112",6/16/1995,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
207,202,Paranormal Activity 3,Par.,"$52,568,183",50.5%,3321,"$15,829","$104,028,807",10/21/2011,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208,203,Superman Returns,WB,"$52,535,096",26.3%,4065,"$12,923","$200,081,192",6/28/2006,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
209,204,The Bourne Supremacy,Uni.,"$52,521,865",29.8%,3165,"$16,594","$176,241,941",7/23/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
210,205,The Divergent Series: Insurgent,LG/S,"$52,263,680",40.1%,3875,"$13,487","$130,179,072",3/20/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
211,206,"I, Robot",Fox,"$52,179,887",36.0%,3420,"$15,257","$144,801,023",7/16/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
212,207,Men in Black II,Sony,"$52,148,751",27.4%,3557,"$14,660","$190,418,803",7/3/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
213,208,Home (2015),Fox,"$52,107,731",29.4%,3708,"$14,053","$177,397,510",3/27/2015,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
214,209,Van Helsing,Uni.,"$51,748,040",43.1%,3575,"$14,474","$120,177,084",5/7/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
215,210,8 Mile,Uni.,"$51,240,555",43.9%,2470,"$20,745","$116,750,901",11/8/2002,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
216,211,Men in Black,Sony,"$51,068,455",20.4%,3020,"$16,910","$250,690,539",7/2/1997,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
217,212,Prometheus,Fox,"$51,050,101",40.4%,3396,"$15,032","$126,477,084",6/8/2012,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
218,213,Wanted,Uni.,"$50,927,085",37.9%,3175,"$16,040","$134,508,551",6/27/2008,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
219,214,Coco,BV,"$50,802,605",24.2%,3987,"$12,742","$209,726,015",11/22/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
220,215,Jurassic Park III,Uni.,"$50,771,645",28.0%,3434,"$14,784","$181,171,875",7/18/2001,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
221,216,The Village,BV,"$50,746,142",44.4%,3730,"$13,604","$114,197,520",7/30/2004,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
222,217,Dunkirk,WB,"$50,513,488",26.9%,3720,"$13,579","$188,045,546",7/21/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
223,218,2 Fast 2 Furious,Uni.,"$50,472,480",39.7%,3408,"$14,810","$127,154,901",6/6/2003,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
224,219,Jackass 3-D,Par.,"$50,353,641",43.0%,3081,"$16,343","$117,229,692",10/15/2010,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
225,220,Mr. & Mrs. Smith,Fox,"$50,342,878",27.0%,3424,"$14,702","$186,336,279",6/10/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
226,221,Independence Day,Fox,"$50,228,264",16.4%,2882,"$17,428","$306,169,268",7/3/1996,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
227,222,A Quiet Place,Par.,"$50,203,562",26.9%,3508,"$14,311","$186,860,889",4/6/2018,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
228,223,The Boss Baby,Fox,"$50,198,902",28.7%,3773,"$13,305","$175,003,033",3/31/2017,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
229,224,King Kong,Uni.,"$50,130,145",23.0%,3568,"$14,049","$218,080,025",12/14/2005,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
230,225,The Great Gatsby (2013),WB,"$50,085,185",34.6%,3535,"$14,168","$144,840,419",5/10/2013,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
weekend_box = weekend_box.iloc[5:]

In [5]:
weekend_box = weekend_box[[0,1,2,3,4,5,6,7,8]]

In [6]:
weekend_box.head()

,0,1,2,3,4,5,6,7,8
5,Rank,Title (click to view),Studio,Opening*,% of Total,Theaters,Avg.,Total Gross^,Date**
6,1,Avengers: Infinity War,BV,"$257,698,183",38.5%,4474,"$57,599","$669,568,677",4/27/2018
7,2,Star Wars: The Force Awakens,BV,"$247,966,675",26.5%,4134,"$59,982","$936,662,225",12/18/2015
8,3,Star Wars: The Last Jedi,BV,"$220,009,584",35.5%,4232,"$51,987","$620,181,382",12/15/2017
9,4,Jurassic World,Uni.,"$208,806,270",32.0%,4274,"$48,855","$652,270,625",6/12/2015

In [7]:
weekend_box.columns = weekend_box.iloc[0]

In [9]:
weekend_box = weekend_box.iloc[1:]

In [11]:
weekend_box = weekend_box[['Title (click to view)', 'Studio', 'Opening*', 'Date**']]

In [13]:
weekend_box.columns = ['Title', 'Studio', 'Opening', 'Date']

In [14]:
weekend_box

,Title,Studio,Opening,Date
6,Avengers: Infinity War,BV,"$257,698,183",4/27/2018
7,Star Wars: The Force Awakens,BV,"$247,966,675",12/18/2015
8,Star Wars: The Last Jedi,BV,"$220,009,584",12/15/2017
9,Jurassic World,Uni.,"$208,806,270",6/12/2015
10,Marvel's The Avengers,BV,"$207,438,708",5/4/2012
11,Black Panther,BV,"$202,003,951",2/16/2018
12,Avengers: Age of Ultron,BV,"$191,271,109",5/1/2015
13,Incredibles 2,BV,"$182,687,905",6/15/2018
14,Captain America: Civil War,BV,"$179,139,142",5/6/2016
15,Beauty and the Beast (2017),BV,"$174,750,616",3/17/2017
16,Iron Man 3,BV,"$174,144,585",5/3/2013
17,Harry Potter and the Deathly Hallows Part 2,WB,"$169,189,427",7/15/2011
18,Batman v Superman: Dawn of Justice,WB,"$166,007,347",3/25/2016
19,The Dark Knight Rises,WB,"$160,887,295",7/20/2012
20,The Dark Knight,WB,"$158,411,483",7/18/2008
21,The Hunger Games: Catching Fire,LGF,"$158,074,286",11/22/2013
22,Rogue One: A Star Wars Story,BV,"$155,081,681",12/16/2016
23,The Hunger Games,LGF,"$152,535,747",3/23/2012
24,Spider-Man 3,Sony,"$151,116,516",5/4/2007
25,Jurassic World: Fallen Kingdom,Uni.,"$148,024,610",6/22/2018
26,Furious 7,Uni.,"$147,187,040",4/3/2015
27,Guardians of the Galaxy Vol. 2,BV,"$146,510,104",5/5/2017
28,The Twilight Saga: New Moon,Sum.,"$142,839,137",11/20/2009
29,The Twilight Saga: Breaking Dawn Part 2,LG/S,"$141,067,634",11/16/2012
30,The Twilight Saga: Breaking Dawn Part 1,Sum.,"$138,122,261",11/18/2011
31,Pirates of the Caribbean: Dead Man's Chest,BV,"$135,634,554",7/7/2006
32,Finding Dory,BV,"$135,060,273",6/17/2016
33,Suicide Squad,WB,"$133,682,248",8/5/2016
34,Deadpool,Fox,"$132,434,639",2/12/2016
35,Iron Man 2,Par.,"$128,122,480",5/7/2010
...,...,...,...,...
202,Cars 3,BV,"$53,688,680",6/16/2017
203,Green Lantern,WB,"$53,174,303",6/17/2011
204,The Wolverine,Fox,"$53,113,752",7/26/2013
205,The LEGO Batman Movie,WB,"$53,003,468",2/10/2017
206,Batman Forever,WB,"$52,784,433",6/16/1995
207,Paranormal Activity 3,Par.,"$52,568,183",10/21/2011
208,Superman Returns,WB,"$52,535,096",6/28/2006
209,The Bourne Supremacy,Uni.,"$52,521,865",7/23/2004
210,The Divergent Series: Insurgent,LG/S,"$52,263,680",3/20/2015
211,"I, Robot",Fox,"$52,179,887",7/16/2004
212,Men in Black II,Sony,"$52,148,751",7/3/2002
213,Home (2015),Fox,"$52,107,731",3/27/2015
214,Van Helsing,Uni.,"$51,748,040",5/7/2004
215,8 Mile,Uni.,"$51,240,555",11/8/2002
216,Men in Black,Sony,"$51,068,455",7/2/1997
217,Prometheus,Fox,"$51,050,101",6/8/2012
218,Wanted,Uni.,"$50,927,085",6/27/2008
219,Coco,BV,"$50,802,605",11/22/2017
220,Jurassic Park III,Uni.,"$50,771,645",7/18/2001
221,The Village,BV,"$50,746,142",7/30/2004
222,Dunkirk,WB,"$50,513,488",7/21/2017
223,2 Fast 2 Furious,Uni.,"$50,472,480",6/6/2003
224,Jackass 3-D,Par.,"$50,353,641",10/15/2010
225,Mr. & Mrs. Smith,Fox,"$50,342,878",6/10/2005
226,Independence Day,Fox,"$50,228,264",7/3/1996
227,A Quiet Place,Par.,"$50,203,562",4/6/2018
228,The Boss Baby,Fox,"$50,198,902",3/31/2017
229,King Kong,Uni.,"$50,130,145",12/14/2005
230,The Great Gatsby (2013),WB,"$50,085,185",5/10/2013
231,NaN,NaN,NaN,NaN

In [15]:
weekend_box.to_csv('opening_weeked.csv')